@font-face {
  font-family: 'Grotestque';
  src: url('/fonts/GrotesqueMTStd.otf') format('woff');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Grotestque-condensed';
  src: url('/fonts/GrotesqueMTStd-Condensed.otf') format('woff');
  font-weight: 900;
  font-style: normal;
}