@import 'reset';
@import 'font';
@import 'func';
@import 'mixins';
@import 'gtr';

html,
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;
  background: #FFFBF6;
}

.pointer-none {
 cursor: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #fff;
  font-size: 24px;
  font-family: 'Grotestque';
  font-weight: 200;
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-touch-callout: none;
  /* Safari */
  -webkit-user-select: none;
  /* Chrome */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, .0);
  border-radius: 20px;
}

#lang-zh-ht,
#lang-zh-hs,
#lang-ko * {
  font-weight: 400;
}

//HEADER

header {

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10000;
  width: 100%;
  text-align: center;
  transition: all 1s .8s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: pxToVW(192);
    margin-top: pxToVW(40);
    z-index: 2;
  }
}

header.off {
  transition: all 1s ease-in-out !important;
}



// BORDEL


.content {
  position: relative;
  z-index: 2;
  text-align: center;
}

.qr-code img {
  width: 150px;
  height: auto;
}


.off {
  pointer-events: none;
  opacity: 0;
}

.preloader {
  position: fixed;

  z-index: 10001;
  width: 100%;
  height: 100%;
  background-color: #FFFBF6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preload-logo{
  width: 60vw;
  margin: 40vw 0;
}

.preloader-img {
  animation: turn 2s infinite linear;
  width: 3vw;
}

.preloader.off {
  transition: all 3s ease-in-out;
}

.preloader.appear {
  transition: all 1s ease-in-out;
  opacity: 1;
}

.off .preload-logo, 
.off .version,
.off .preloader-img {
  opacity: 0;
  transition: all .4s ease-in-out;
}



@keyframes turn {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.turn {
  position: fixed;
  z-index: 10001;
  width: 100%;
  height: 100%;
  background-color: #FFFBF6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media (orientation:portrait) {
  .turn {
    display: none;
  }
}


//FOOTER



.legals-content {
  width: 90%;
  font-size: 2vw;
  letter-spacing: 0;
  margin-bottom: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.privacy-qr{
  width: 20vw;
  margin-top: 3vw;
}

.privacy-title{
  font-size: 3.4vw;
  letter-spacing: .2vw;
  width: 30vw;
  text-align: center;
}

#lang-de .privacy-title{
  width: auto;
}




.legals {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  opacity: 0;
  transition: all .4s ease-in-out;
}




.legals.open {
  pointer-events: auto;
  opacity: 1;
}



.close-footer {
  border: 4px solid white;
  border-radius: 100%;
  padding: 1vw;
  width: 7vw;
  height: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}



.preload-img {
  position: absolute;
  left: 0;
  opacity: 0;
}

.preload-img.active {
  opacity: 1;
}


@media (max-width:767px) {

  .close-footer {
    border: 2px solid white;
    padding: 2vw;
    width: 9vw;
    height: 9vw;
    margin-top: 3vw;
  }

  .legals-content {
    font-size: 3vw;
  }

  .preloader-img {
    animation: turn 2s infinite linear;
    width: 4vw;
  }

  .legal-cta {
    display: none;
  }
  
}

.none {
  display: none;
}

.version {
  position: absolute;
  bottom: 1vh;
  font-size: 2vw;
  color:black;
}

@media (max-aspect-ratio: 1080/1920) {
    video {
        height: 100vh;
    }
}

@media (min-aspect-ratio: 1080/1920) {
    video {
        width: 100vw;
    }
}

main {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

video{
  bottom: 0;
  position: absolute;
}
